.App {
  text-align: left;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.postItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.postImg {
  margin-right: 10px;
}

.postTitle {
  font-weight: bold;
  font-size: 25px;
}

.postText {
  font-size: 20px;
}

.postComments {
  font-size: 15px;
}